@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Cherry+Bomb+One&display=swap');
@import url('../css/root.css');

.text-shadow {
    text-shadow: 1px 4px 0px #5BA72B;
}

.bg-color {
    background-color: var(--lite-green);
}

.mxw-655 {
    max-width: 635px;
}

.grid-box {
    grid-template-columns: auto;
    grid-template-rows: auto;
    display: grid;
}

.card1 {

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.10);
    cursor: pointer;
    transition: all 700ms linear;
    z-index: 1;
}

.card1 svg path {
    transition: 1.10s;
}

.tree {
    position: absolute;
    bottom: -2%;
    left: -10%;
}

.vector1 {
    position: absolute;
    top: 2%;
    right: 2%;
}

.vector2 {
    position: absolute;
    top: 4%;
    left: -11%;
}

.card1:hover {
    background-color: var(--green);
}

.card1:hover svg path {
    opacity: 1;

}

.grid-item-1 {
    grid-row: 1/2;
    grid-column: 1/3;
}

.grid-item-2 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.grid-item-3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-item-4 {
    grid-row: 2/3;
    grid-column: 2/4;
}

.card2 {
    border-radius: 19px;
    border: 7px solid #FFF;
    background: #5BA72B;
    padding: 75px 65px;
}
.color{
   color:  rgba(255, 255, 255, 0.80);
}